<div class="container card-change">
    <div class="row ">
        <div class="col-md-3 "></div>
        <div class="col-md-3">
            <div class="card shadow-effect ">
                <!-- <h2 class="text-center">ADMIN</h2> -->
                <div class="card-body text-center ">
                    <!-- <button class="btn btn-sub btn-dark btn-theme" routerLink="/admin-login">Admin Login </button> -->
                    <button class="btn btn-sub btn-dark btn-theme mt-3" routerLink="/admin-signup">ADMIN</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-effect">
                <!-- <h2 class="text-center">USER</h2> -->
                <div class="card-body text-center">
                    <!-- <button class="btn btn-sub btn-dark btn-theme"routerLink="/user-login">User Login </button> -->
                    <button class="btn btn-sub btn-dark btn-theme mt-3"routerLink="/user-signup">USER </button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>